:root {
    --primary-color: #3498db; 
    --link-color: #495057;
    --active-bg: #e6f7ff;
    --active-color: var(--primary-color);
    --bg-light: #f4f5f8; 
}

body {
    background-color: var(--bg-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
    margin-left: 20px;
    font-size: 20px;
    color: var(--active-color);
    font-weight: bold;
    text-decoration: none;
}
.admin i{
    margin-right: 5px;
}
.dropdown{
    padding-bottom: 5px;
}
.custom-dropdown-btn{
    font-size: 1rem;
    border: none;
}
.custom-header {
   display: flex;
    align-items: center;
    background: linear-gradient(to right, white, #ADD8E6);
    background-size: 200%;
    width: 100%;
    height: 50px;
    margin: 0px;
    justify-content: space-between;
}

.header-icons-group{
    margin-right: 30px;
    font-size: 25px;
    font-weight: 300;
}

.custom-body-wrapper {
    display: flex;
    height: 66rem;
}

.menu-item{
    padding: 14px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}
.menu-link{
    text-decoration: none;
    color: black;
}

.menu-item i{
    width: 20px;
    margin-right: 10px;
}

.menu-item:hover{
    background-color: rgb(208, 243, 255);
    border-radius: 5px;
    color: #0707ae;
}
.menu-item:hover a{
    background-color: rgb(208, 243, 255);
    border-radius: 5px;
    color: #0707ae;
}
.custom-sidebar {
    width: 250px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    padding: 20px 0;
    position: sticky; 
    top: 50px; 
    height: 100%;
}

.custom-sidebar-nav {
    padding: 0 10px;
}

.custom-link {
    color: var(--link-color);
    padding: 10px 15px;
    border-left: 3px solid transparent;
    transition: all 0.2s;
    font-size: 1em;
}

.custom-link i {
    width: 20px; 
}

.custom-link:hover {
    background-color: #f0f0f0;
    color: var(--link-color);
}

.active-link {
    background-color: var(--active-bg);
    color: var(--active-color) ;
    border-left-color: var(--active-color);
    font-weight: 600;
}

.custom-offcanvas-sidebar {
    max-width: 60%;
    width: 220px;
    background-color: white;
}

.custom-offcanvas-header {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 20px;
}

.custom-offcanvas-header .btn-close {
    background-color: white; 
}

.custom-content-area {
    flex-grow: 1;
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4em;
}
.back{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.1em;
    margin-top: 20px;
}
.card {
    border-radius: 8px; 
    height: 35rem;
}

.form-control-lg {
    padding: 1rem 0.75rem;
    font-size: 1em;
}

.btn-secondary {
    font-size: 1.2rem;
    margin-right: 7px;
    margin-left: 5px;
}
.btn-primary{
    font-size: 1.2rem;
    margin-right: 7px;
    margin-left: 5px;
}
footer{
    text-align: center;
    padding-right: 60px;
    padding-top: 12px;
    padding-bottom: 15px;
    font-size: 10px;
    border-top: 1px solid #dddd;
    background-color: var(--bg-light);
}

/* @media (max-width: 480px) {
    footer {
        padding-left: 80px;
    }
} */